.App {
  text-align: center;
  background: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 2px solid #e75480;
  background: #000;
  margin-top: 20px;
}
